h2.red-heading {
    color: rgb(255, 0, 0);
}
h2.blue-heading {
    color: rgb(0, 0, 255);
}
h3.red-heading {
    color: rgb(255, 0, 0);
}
h3.blue-heading {
    color: rgb(0, 0, 255);
}
h4.red-heading {
    color: rgb(255, 0, 0);
}
h4.blue-heading {
    color: rgb(0, 0, 255);
}
.red-text {
    color: rgb(255, 0, 0);
}
.blue-text {
    color: rgb(0, 0, 255);
}
h2.pink-heading {
    color: rgb(255, 0, 234);
}
