@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Richtext>

<div class="container mt-3">
    <div class="row justify-content-center g-4">
        
            <div>
                @Html.Raw(Model.Textbox)
            </div>
        
    </div>
</div>